{% extends "base.html" %}
{% block include_css %}
    <link rel="stylesheet" type="text/css" href='/static/simplereader_client/css/authentication.css'>
{% endblock %}
{% block include_js %}
    <script src='/static/simplereader_client/js/angular/authentication.js'></script>
{% endblock %}
{% block body %}
<body ng-controller="AuthenticationController">
<div>
     <div id="authForm" class="container-fluid pagination-centered">
        <div id="leftAuth" class="hero-unit">
            <form class="form-horizontal" method="post" action="/signin/" >
            <div class="control-group">
            {% csrf_token %}
            <table> 
                    {{ field.errors }}
                    {% for field in signinForm %}
                    <tr>
                        <td>{{ field.label_tag }} </td> <td> {{ field }} </td>   
                    </tr>
                    {% endfor %}
            </form>
            </table>
                <button class="btn" type="submit">Sign in</button>
            </div>
        </div>

        <div id="rightAuth" class="hero-unit">
            <div ng-hide="signupFieldHidden" ng-model="signUpForm">
            <form method="post" action="/signup/" name="signUpForm">
            {% csrf_token %}
            <table>
                    {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }} </td> <td> {{ field }} </td>   
                    </tr>
                    {% endfor %}
            </form>
            </table>
                <button class="btn" type="submit">Create User</button>
            </div>


            <h6 class="info" ng-show="signupFieldHidden"><small>If you don't have an account, click on Sign Up </small></h6>
            <form class="form-horizontal">
                    <div class='signup-button'>
                        <button type="submit" class="btn btn-info" ng-model="signUpButton"
                                ng-click=signUp() ng-show="signupFieldHidden">Sign Up</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</body>

{% endblock %}
