<!DOCTYPE html>
<html ng-app="angSimpleReader">
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src='/static/simplereader_client/js/angular/authentication.js'></script>
    <link rel="stylesheet" type="text/css" href='/static/simplereader_client/css/base.css'>
    <link rel="stylesheet" href="/static/simplereader_client/css/bootstrap.min.css">
</head>
<body ng-controller="AuthenticationController">
<div>
     <div id="authForm" class="container-fluid pagination-centered">
        <div id="leftAuth">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email"
                           ng-model="formEmailUser">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password"
                           ng-model="formEmailPassword">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn" ng-click=logIn()>Sign in</button>
                </div>
            </div>
        </form>
        </div>

        <div id="rightAuth" class="hero-unit">
            <div ng-hide="signupFieldHidden" ng-model="signUpForm">
            <form name="signUpForm">
                Email: <input name="emailInput" ng-model="emailUser" required>
                <br><br>

                Password: <input type="password" name="passwordUser" ng-model="passwordUser" id="passwordUser" required>
                <br>

                Confirm <input type="password" name="confirmedPasswordUser" ng-model="confirmedPasswordUser" id="confirmedPasswordUser"
                               valid-password-c required>
                <br>

                <div class="msg-block" ng-show="signUpForm.$error">
	                <span class="msg-error" ng-show="signUpForm.confirmedPasswordUser.$error.noMatch">
		                Passwords don't match.
	                </span>
                </div>

                <button class="btn" id="registerUserButton" ng-click="createAccount(emailUser, passwordUser)">Create user</button>
            </form>
                <div class="alert {%verbatim%} {{classMessage}} {%endverbatim%}" ng-show="creationDone">			
                    {%verbatim%}
                        {{userCreatedSuccess}}
                    {%endverbatim%}
                </div>
            </div>


            <h6 class="info" ng-show="signupFieldHidden"><small>If you don't have an account, click on Sign Up </small></h6>
            <form class="form-horizontal">
                    <div class='signup-button'>
                        <button type="submit" class="btn btn-info" ng-model="signUpButton"
                                ng-click=signUp() ng-show="signupFieldHidden">Sign Up</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
