<!DOCTYPE html>
<html ng-app="angSimpleReader">
<head>
    <link rel="stylesheet" href="/static/simplereader_client/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href='/static/simplereader_client/css/base.css'>
    {% block include_css %}{% endblock %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    {% block include_js %}{% endblock %}
</head>
{% block body %}{% endblock %}
</html>
