{% extends "base_header.html" %}
{% block include_js %}
    <script src='/static/simplereader_client/js/feeds.js'></script>
    <script src='/static/simplereader_client/js/uiListeners.js'></script>
    <script src='/static/simplereader_client/js/angular/directives.js'></script>
    <script src='/static/simplereader_client/js/angular/feed.js'></script>
<script>
        google.load("feeds", "1");
        $(window).load(initJQueryListeners);
</script>
{% endblock %}
{% block body %}
<div ng-controller="FeedController">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 options">
                <ul class="nav nav-pills options-items">
                   <li><span add-feed-modal></span></li>
                   <li><span><a href="#">Mark all as read </a></span></li>
                </ul> 
            </div>
        <div class="row-fluid">
            <div class="span2 sidebar"></div>
            <div class="span10 content"></div>
        </div>
   </div>
</div>
{% endblock %}
