{% extends "base_header.html" %}
{% block include_js %}
    <script src='/static/simplereader_client/js/feeds.js'></script>
    <script src='/static/simplereader_client/js/uiListeners.js'></script>
    <script src='/static/simplereader_client/js/angular/feed.js'></script>
<script>
        google.load("feeds", "1");
        $(window).load(initJQueryListeners);
</script>
{% endblock %}
{% block body %}
<body>
<div ng-controller="FeedController">
    <button class="btn" id="feedButton">Retrieve feed</button>
    <div id="feed"></div>

    <form class="form-horizontal">
        <input type="text" ng-model="formAddFeedText" ng-model-instant>
        <button class="btn" ng-click=addNewFeed()><i class="icon-plus"></i>Add</button>
    </form>
</div>
</body>
{% endblock %}
