.pagination-centered {
    padding-top: 30%;
    text-align: center;
}

.info {
    padding-left: 10px;
    color: #999999;
}

.signup-button {
    padding-left: 100px;
}

#leftAuth {
    float: left;
    padding-right: 20px;
    border-right: 1px #49AFCD solid;
}

#rightAuth {
    margin-left: 50px;
    float: left;
}
